p{
    background-color: darkcyan;
    font-family: 'Courier New', Courier, monospace;
}

h2{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.clase1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: darkkhaki;
}
#p9{
    background-color: fuchsia;
}